/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2e2f42;
}

.hidden {
    display: none;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 36px;
}

.searchbtn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

.searchbtn:hover {
    background: #6c8cff;
}

.search-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    outline: none;
    padding: 0 16px;
}

.search-input:hover {
    border: 1px solid #000;
}

.search-input:focus {
    border: 1px solid #4e75ff;
    color: #2e2f42;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1128px;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 32px auto;
}

.gallery-item {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    border: 1px solid #808080;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-link {
    width: 360px;
    height: 200px;
}

.gallery-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gallery-item img {
    width: 360px;
    height: 200px;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 48px;
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.info p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.simple-lightbox {
    background: rgba(46, 47, 66, 0.8);
}

.hidden {
    display: none;
}

.loader {
    width: 40px;
    height: 40px;
    border: 8px solid #334155;
    border-top: 8px solid #38bdf8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 20px #38bdf8aa;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.btnMore-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.btnMore {
    border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

}

.btnMore:hover {
    background: #6c8cff;
}